extends layout.pug

block content
    p
        input(
            type="button" 
            name="get"
            value="get"
        )
    p
        input(
            type="button" 
            name="post"
            value="post"
        )

    p
        input(
            type="button" 
            name="put"
            value="put"
        )
    p
        input(
            type="button" 
            name="delete"
            value="delete"
        )
    p #{result}